<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        form {
            position: sticky;
            top: 0px;
        }

        .bl{
            height: 1000px;
        }
        body {
            height: 100%;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="out">
        <form action="{% url 'login:login' %}" method="post">
            {% csrf_token %}
            账号：<input name="account"><br>
            密码：<input name="password" type="password"><br>
            <span>123 {{ user }}</span><br>
            <p id="msg"></p><br>
            <input value="login" type="submit">

        </form>
        <p id="rsp">testing</p><br>
        <button onclick="getResponseMsg1()">send1</button>
        <button onclick="getResponseMsg2()">send2</button>
        <button onclick="getResponseMsg3()">send3</button>
    </div>
    <div class="bl"></div>

    <script>
        // 原生JS --1
        //以字符串形式返回Object
        function getResponseMsg1() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", "{% url 'login:login' %}", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.send("account=zhanglin&password=654321");
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    document.getElementById("rsp").innerHTML = xmlHttp.response;
                    console.log(xmlHttp.response)
                }
            };
        }
        
        //axios传递form data --2
        //返回Object
        function getResponseMsg2() {
            let param = new URLSearchParams('account=zhanglin&password=654321');
            // param.append('account', 'zhanglin');
            // param.append('password', '654321')
           // axios
           axios.post("{% url 'login:login' %}", 'account=zhanglin&password=654321')
            .then(function (response) {
                document.getElementById("rsp").innerHTML = response.data;
                console.log(response.data)
            })
            .catch(function (error) {
                console.log(error);
            })
            .then(function () {
                // 总是会执行
                console.log("执行完成")
            });  
        }
        
        // axios 字典转换成form data --3
        function getResponseMsg3() {
            let param = new URLSearchParams('account=zhanglin&password=654321');
            // param.append('account', 'zhanglin');
            // param.append('password', '654321')
           // axios
           axios.post("{% url 'login:login' %}", {account: 'zhanglin', password: '654321'},
                    {transformRequest: [function (data) {
                        // Do whatever you want to transform the data
                        let ret = ''
                        for (let it in data) {
                        ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
                        }
                        console.log(ret)
                        return ret
                    }],
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }}
           )
            .then(function (response) {
                document.getElementById("rsp").innerHTML = response.data;
                console.log(response.data)
            })
            .catch(function (error) {
                console.log(error);
            })
            .then(function () {
                // 总是会执行
                console.log("执行完成")
            });  
        }
    </script>
</body>
</html>